
{% if isArticle %}
  <div class="article-header">
      {{ content }}

    <div class="article-meta-container">
      <div class="article-author">

        {% if author.avatar %}
          <img class="article-avatar" src="{{ file_url(author.avatar) }}" alt="{{ author.name }}'s avatar'">
        {% endif %}

        {% if author.name %}

          <p class="article-author-text">
            Written by
            <br>
            {% if author.website %}
              <a href="{{author.website}}">
            {% endif %}

            <strong>
              {{ author.name }}
            </strong>
            {% if author.website %}

              </a>
            {% endif %}

          </p>
        {% endif %}
      </div>

      <div class="article-date-container">
        {% if node.created %}

          <p class="article-date">Created on
            <br>
            <strong>{{ node.created }}</strong>
          </p>
        {% endif %}
        {% if node.updated %}
          <p class="article-date">Last updated
            <br>
            <strong>
              {{node.updated}}</strong>
          </p>
        {% endif %}
      </div>

    </div>
  </div>
{% endif %}
