<article {{ attributes.addClass("card") }}>
      <div class="card-image-wrapper">
          {{ content.field_image }}
      </div>


      <div class="card-text-container">
        {{ title_prefix }}
        {% if label and not page %}
          <h2 class="card-title" {{ title_attributes }}> {{ label }}  </h2>
        {% endif %}
        {{ title_suffix }}

        <div class="card-meta">
          <div class="card-author">
            <p>Written by <br>
              <strong> {{ author_name }} </strong>
            </p>
            <p>
          </div>

          <div class="card-created">
            <p> Created on <br> <strong> {{ date }}</strong> </p>
          </div>
        </div>


        <div class="card-excerpt">
          {{ content.body }}
        </div>

      <!-- allow link to span the entire card, only display text within the link for accessibilty readers -->
      <h2 class="card-action" aria-hidden>Click to read more</h2>

      <a href="{{ url }}" class="card-link-overlay" tabIndex="1">
        <p class="hidden">Click to read more</p>
      </a>

    </div>
</article>
